.about-container{
    min-height:100vh;
}

.details-container,
.potrait-container{
    height: 100%;
    padding-top:3rem;
}

.potrait-container{
    background-color: lightslategrey;
    display: inline-block;
    text-align: center;
}

.potrait-container>img{
    width: 100%;
}

.about-heading{
    font-weight: 700;
}

.details-container > div > p{
    font-size: 1.1rem;
    text-align: justify;
    color: grey;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.info{
    list-style: none;
    padding: 0;
}

.info>li{
    margin-top: 1rem;
}

.info li span:first-child{
    display: inline-block;
    width: 130px;
    font-weight: bold;
    color: black;
    font-weight: bold;
}

.info li span:nth-child(2){
    color: grey;
    font-size: 1rem;
    font-weight: 500;
    font-weight: 400;
}

.summary{
    font-size: 1.2rem;
    display: inline-block;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.emphesize{
    color: blueviolet;
    font-weight: 600;
}

.btn-cv{
    border-radius: 100px !important;
}

.flexBox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.flexItem{
    width: 18rem;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 2rem;
    margin-top: 2rem;
}

.flexItem > svg{
    width:1em;
    height:1em;
}