.contact-container{
    min-height: 100vh;
    padding-top: 100px;
    text-align: center;
}

.contact-container > div {
    margin-bottom: 50px;
}
.square{
    margin-bottom: 20px;
    height: 375;
}
.contact-heading{
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 50px;
}
.sub-heading{
    color: grey;
}
.log{
    font-size: 1rem;
    color: grey;
    font-weight: 500;
}

.square > div{
    /* border: 2px solid blue; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.square > div > div{
    margin-top: 50px;
    display: inline-block;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height:100px;
    background-color:#3e64ff;
    color: white;
    z-index: -10;
}

.square > div > a > p,
.square > div > p {
    margin-top: 35px;
    color: grey;
    font-weight: 500;
    font-size: 1.1rem;
}

.square > div > h4 {
    font-weight: 700;
    font-size: 1.4rem;
    font-family: "Poppins", Arial, sans-serif;
    margin-top: 30px;

}