.contact-container{
    min-height: 100vh;
    padding-top: 100px;
    text-align: center;
    background-image: url(../../images/peals.svg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.contact-container > div {
    margin-bottom: 50px;
}

.contact-heading{
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 50px;
}
.sub-heading{
    color: grey;
}
.log{
    font-size: 1rem;
    color: grey;
    font-weight: 500;
}

.square {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 1.2rem;
}

.square > span{
    background-color:#3e64ff;
    padding: 1rem;
    color: white;
    border-radius: 100px;
}

.box-form{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}