footer{
    background-color: black;
    min-height: 400px;
}

.footer-heading{
    color: rgba(255,255,255,0.7);
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 600;
    margin-top: 80px;
}

.footer-link {
    list-style: none;
    padding-left: 1.8rem;
}

.footer-link li{
    margin-top: 15px;
    /* margin-left: 13px; */
}

.footer-link li a{
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}

.footer-link li a{
    width: 0px;
    height: 2px;
    vertical-align: middle;
    transition: 0.5s ease;
}

.footer-link>li>a:hover{
    margin-left: 15px;
}

.footer-col {
    padding-left: 0px !important;
    padding-right: 50px !important;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: rgba(255,255,255,0.7);
    font-weight: 500;
}

.footer-col >p{
    text-align: justify;
}

.footer-social a svg {
    width: 30px;
    height: 30px;
    margin-bottom:12px;
    color: whitesmoke;
}

.footer-social a svg:hover {
    color: greenyellow;
    transition: 0.5s ease;
}