
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.home-panel {
    min-height: 100vh;
}

.sec-1,
.sec-2 {
    min-height: 100vh;
}

.sec-1 {
    background-color: #cbd6ff;
}

.banner {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro>p {
    text-align: center;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #3e64ff;
    font-size: large;
}

.intro>h1 {
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 2px;
}

.indicator {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    background-color: white;
    border-radius: 100px;
    margin-top: 3rem;
    width: 80px;
    height: 80px;
    border: 5px solid #cbd6ff;
    }

.indicator>svg {
    font-weight: 600;
    /* color: #10939a; */
    color: #3e64ff;
    font-size: 1.5rem;
    animation: 3s ease-in 1s infinite reverse both running slidein;
}

.indicator {
    animation-name: shift;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes shift {
    0% {
        padding-top: 5px
    }

    100% {
        padding-top: 35px
    }
}
.react-typewriter-text,
.react-typewriter-text-wrap::before {
    content: 'I\'m a ' ;
    font-weight: 700;
    font-size: 2.5rem;
    font-family: 'Ubuntu Mono', monospace;
}

.react-typewriter-text{
    color : #3e64ff;
}