@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.resume-container {
    font-family: "Poppins", Arial, sans-serif;
}

.resume-details {
    min-height: 800px;
}

.heading {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 30px;
    color: #3e64ff;
    text-transform: capitalize;
}

.row-section {
    padding-top: 7rem;
}