.vertical-navigation {
    padding-top: 7rem;
    top: 120px;
    position: -webkit-sticky !important;
    position: sticky !important;
}

.vertical-navigation .nav-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: black !important;
}

.vertical-navigation .nav-link::before {
    content         : "";
    width           :0px;
    display         :inline-block;
    background-color:#3e64ff;
    height          : 2px;
    vertical-align  : middle;
    margin-right    : 5px;
}

.vertical-navigation .nav-link.active:before,
.vertical-navigation .nav-link:hover:before{
    width: 20px;
    transition: 0.5s;
}

