.social-links{
    margin-right: 1rem;
    /* color: black; */
    color: #76ABAE;
    font-size: 2rem !important;
    padding: 0.1rem;
}

.social-links:hover{
    color: #EEEEEE;
    /* color : #ca292d; */

    padding: 0rem;
}