.nav-btn{
    font-weight     : 500 !important;
    transition      : border-bottom-color all 2000ms;
}
.nav-btn::after{
    content:" ";
    width: 0%;
    height: 2px;
    display: block;
    /* background-color: #ca292d; */
    background-color: #76ABAE;
    text-align: center;
    margin: auto;
}

.nav-btn.active:after,
.nav-btn:hover:after{
    width: 100%;
    transition: 0.5s;
}