.vertical-navigation {
    top     : 50px;
    /* width   : 240px; */
    /* position    : -webkit-sticky !important; */
    /* position    : sticky !important; */
}

/* .vertical-navigation .nav-link { */
/* color : black !important; */
/* } */

.vertical-navigation .nav-link::before {
    content             : "";
    width               : 20px;
    display             : inline-block;
    background-color    : black;
    height              : 2px;
    vertical-align      : middle;
    margin-right        : 5px;
}

.vertical-navigation .nav-link.active:before,
.vertical-navigation .nav-link:hover:before {
    width       : 70px;
    transition  : 0.5s;
}

.menu-txt>span {
    font-size   : 1rem;
    font-weight : 500;
}