.vertical-navigation {
    width: 240px;
}

.vertical-navigation .nav-link::before {
    content             : "";
    width               : 20px;
    display             : inline-block;
    background-color    : var(--line);
    height              : 2px;
    vertical-align      : middle;
    margin-right        : 5px;
}

.vertical-navigation .nav-link.active::before,
.vertical-navigation .nav-link:hover::before {
    width       : 70px;
    transition  : 0.5s;
}

.menu-txt > span {
    font-size   : 1rem;
    font-weight : 500;
}
