.home-panel{
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #dee4ea 0%, #f9fcff 74%);
}

.left-home-bg {
    /* background-color: #dee2e6; */
}

.main-pg {
    background-position: -41px 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 102vh;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro{
    /* padding-top: 100px; */
}

.intro>p {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: #3e64ff;
    font-size: large;
}

.intro>h1 {
    font-weight: 800;
    font-size: 3rem;
    letter-spacing: 2px;
}

.indicator {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    margin-top: 3rem;
    width: 80px;
    height: 80px;
    background-position: 0 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.sub-indicator{
    width: 100%;
    height: 100%;
    /* transform: rotate(-45deg); */
    animation-name: shift;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.sub-indicator>svg {
    font-weight: 600;
    color: black;
    animation: 3s ease-in 1s infinite reverse both running;
}


@keyframes shift {
    0% {
        padding-top: 5px
    }

    100% {
        padding-top: 30px
    }
}

/* .react-typewriter-text,
.react-typewriter-text-wrap::before {
    content: 'I\'m a ';
    font-weight: 600;
    font-size: 15px;
    display: inline-flex;
} */

/* .react-typewriter-text {
    color: #3e64ff;
} */