.row-section {
    padding-top: 7.5rem !important;
}

.about-container {
    min-height: 100vh;
    /* background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff  0%, #dee4ea  74%); */
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #dee4ea 0%, #f9fcff 74%);
}

/* .portrait-container{ */
.details-container {
    height: 100vh;
    overflow-y: auto;
    /* overflow-y: hidden; */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    scroll-behavior: smooth;
}

.details-container::-webkit-scrollbar {
    width: 5px;
}

.details-container::-webkit-scrollbar-thumb{
    background-color: lightgrey;
    border-radius: 10px;
}

.portrait-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.portrait-container>img {
    width: 60%;
}

.glass-look {
    /* background-color: rgba(218, 215, 215, 0.134); */
    background-color: #dee4ea54;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.glass-look-hover:hover {
    background-color: #dee4ea;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    cursor: pointer;
}

.open-in-new {
    margin-left: 2px;
    font-size:1.2rem !important;
    padding-top:2px !important;
    transition: 250ms !important;
}


.open-in-new:hover {
    margin-left: 5px;
    padding-top:0px !important;
}