
/* .heading {
    font-weight: 700;
    margin-bottom: 30px;
    color: grey;
    text-transform: capitalize;
    letter-spacing: 0.01rem;
} */



.left-navigation-section{
    /* background-image: url(../../images//waving2.svg); */
    background-position: bottom;
    background-repeat: no-repeat;
}
/* resume section styling */

.flex-container {
    display: flex;
    align-items: stretch;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
}
.flex-container:first-child{
    flex-grow: 1;
}

.flex-container:last-child {
    border-bottom: none;
}

.flex-icon span{
    padding: 0.7rem;
    display: inline-flex;
    background-color: #3e64ff;
    border-radius: 100px;
    color: white;
}

.flex-details{
    flex-grow: 8;
    margin-left: 1rem;
}

.flex-details h6 {
    margin-top: 0px; 
    margin-bottom: 0;
    color: #3e64ff;
    font-size: medium;
}

.flex-details h6:nth-child(3) {
    font-size: 18px;
    color: grey;
    font-weight: 500;
}

.flex-details h3 {
    margin: 0;
    font-size: 1.4rem;
}
.flex-details p{
    font-size: 1rem;
    font-weight: 400;
    color: grey;
    text-align: justify;
}

.major-points{
    /* color: grey; */
    padding-left: 1rem;
    list-style:square ;
}

.major-points>li{
    /* margin-bottom: 3px; */
}

/*  */
.link-icon{
    color: darkblue;
    padding-left: 0.1rem;
}

.link-icon:hover{
    color: orangered;
    transition: 0.2s ease;
    padding-left: 0rem;
    /* -ms-transform: rotate(90deg);
    transform: rotate(90deg); */
}