.card-container{
    padding: 1rem;
    text-align: center;
}

.card-container>div>h5{
    font-weight: 700 !important;
}

.card-container>div{
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.card-container > div > div {
    padding: 1.5rem;
    margin-bottom: 0.4rem;
}

.ratings{
    margin: 0.2rem;
    font-size: 1rem;
}

.CircularProgressbar .CircularProgressbar-text {
    font-weight: 600;
    font-size: 1.2rem !important;
}

.skill-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skill-flex-container{
    flex-grow: 10;
}
.skill-flex-container:nth-child(2){
    flex-grow: 1;
}

.progress-bar{
    background-color:#3e64ff !important;
    font-weight: bold !important;

}


/* MUI overwritting */
.css-5xe99f-MuiLinearProgress-bar1 {
    border-radius: 100px;
    background-color: #3e64ff !important;
}

.css-15st7f7-MuiLinearProgress-root {
    background-color: #3e65ff33 !important;
}